---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p>这里等会写段话。</p>
  <p>这里等会放张图。</p>
  <p>这里等会再写段话。</p>
  <hr>
  <p>不怎么好的是，你现在在一个没有编辑过的页面，而且，这个页面多半不欢迎你。</p>
  <p>这个是回去的<a href="https://www.bilibili.com/video/BV1GJ411x7h7">链接</a>=)</p>
  <hr>
  <p>等我找到一张合适的图之前，这里一直都会是空的。</p>
  <p>得，做人不要那么<strong>中二</strong>。</p>
  <p>找到<a onclick="javascript:window.history.back(-1);" alt="back to previous page.">Key</a>就可以回去了。</p>
  <!-- <img src="https://s1.ax1x.com/2023/01/15/pSlAe1g.png" onclick="javascript:window.history.back(-1);" title="这里不是你的容身之地，我将送你离开此处。" alt="back to previous page."> -->
  <!--上面那个是抄的-->
  <hr>
  <p>如果你是因为什么失效链接点进来的话。</p>
  <p>给我说一声。</p>
  <p>PS:想把404写的有文采不是一件简单的事。</p>
  <hr>
  <p>彳亍,开摆</p>
  <!-- 以后会有彩蛋的=(-->
</div>
