---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>
  
  <p>这里写段话。</p>

  <p>这里等会放张图</p>
  <!-- <img src="https://s1.ax1x.com/2023/01/15/pSlAe1g.png" onclick="javascript:window.history.back(-1);" title="这里不是你的容身之地，我将送你离开此处。" alt="back to previous page."> -->
  <!--上面那个是抄的-->
  <p>这里等会再写段话</p>

  <p>彳亍</p>
</div>
