<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/theme-toggle.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include views/footer.html -%}

    {%- include extensions/ac.html -%}


    <!-- 引用 Live2D 核心组件 -->
    <script src='https://jsdelivr.codeqihan.com/gh/fat-old-eight/fat-old-eight.github.io@main/assets/static/l2d.js'></script>
    <!-- 引用看板娘交互组件 -->
    <script src='https://jsdelivr.codeqihan.com/gh/fat-old-eight/fat-old-eight.github.io@main/assets/static/pio.js'></script>

    <div class="pio-container left">
      <div class="pio-action"></div>
      <canvas id="pio" width="300" height="300"></canvas>
    </div>
    <script>
      var pio = new Paul_Pio({
    "mode": "draggable",
    "hidden": true,
    "content": {
        "welcome": ["欢迎来到保罗的小宇宙！", "今天天气不错，一起来玩吧！", "博主每天都有些折腾记录，欢迎前往他的小窝阅读~"],
        "custom": [
            {"selector": ".post-title a", "type": "read"},
            {"selector": ".post-tags a","type": "DZ"},
            {"selector": ".common-list a","type": "link"},
            {"selector": ".trigger a","type": "DZ"}
        ]
    },
    "model": ["https://jsdelivr.codeqihan.com/gh/fat-old-eight/fat-old-eight.github.io@main/assets/models/pio/model.json"],
    "tips": true
});
    </script>
    <script>
      function Delete()
      {
        document.getElementById("SB").remove();
        document.getElementById("lock").remove();
        document.getElementById("password").remove();
        for(let j=1;1;j++)
        {
          let num="114514"+j.toString();
          let Ans="ans"+j.toString();
          let check=document.getElementById(Ans);
          if(check==null)break;
          let an=document.getElementById(Ans).innerHTML;
          document.getElementById(Ans).remove();
          document.getElementById(num).remove();
        }
      }
      function myFunction()
      {
        let sss=document.getElementById("lock").value;
        let hash=CryptoJS.SHA1(sss);
        let password=document.getElementById("password").innerHTML;
        for(let i=1;1;i++)
        {
          let num="114514"+i.toString();
          let Ans="ans"+i.toString();
          let check=document.getElementById(Ans);
          if(check==null)break;
          let ans=document.getElementById(Ans).innerHTML;
          let a=document.getElementById(num).innerHTML;
          if(hash==a)
          {
            document.getElementById("1!5!").innerHTML="Accepted";
            Delete();
            let aesKey=CryptoJS.MD5(sss);
            let key = CryptoJS.enc.Utf8.parse(aesKey);
            aseKey=aesKey.toString();
            const option = {
              iv: CryptoJS.enc.Utf8.parse(aesKey.toString().substring(1, 17)),
              mode: CryptoJS.mode.CBC,
              padding: CryptoJS.pad.Pkcs7,
            };
            let decrypt = CryptoJS.AES.decrypt(ans, key, option);
            let decryptData = JSON.parse(decrypt.toString(CryptoJS.enc.Utf8));
            document.getElementById("stdout").innerHTML=decryptData;
            return;
          }
        }
        if(sss==password)
        {
          document.getElementById("1!5!").innerHTML="Accepted";
          Delete();
          document.getElementById("stdout").innerHTML="这里没有东西";
        }
        else document.getElementById("1!5!").innerHTML="Wrong Answer";
      }
  </script>
  
  </body>
</html>
