<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/theme-toggle.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include views/footer.html -%}

    {%- include extensions/ac.html -%}


    <!-- 引用 Live2D 核心组件 -->
    <script src='https://fat-old-eight.github.io/assets/static/l2d.js'></script>
    <!-- 引用看板娘交互组件 -->
    <script src='https://fat-old-eight.github.io/assets/static/pio.js'></script>

    <div class="pio-container left">
      <div class="pio-action"></div>
      <canvas id="pio" width="300" height="300"></canvas>
    </div>
    <script>
      var pio = new Paul_Pio({
    "mode": "draggable",
    "hidden": true,
    "content": {
        "welcome": ["欢迎来到保罗的小宇宙！", "今天天气不错，一起来玩吧！", "博主每天都有些折腾记录，欢迎前往他的小窝阅读~"],
        "custom": [
            {"selector": ".post-title a", "type": "read"},
            {"selector": ".post-tags a","type": "DZ"},
            {"selector": ".common-list a","type": "link"},
            {"selector": ".trigger a","type": "DZ"}
        ]
    },
    "model": ["https://fat-old-eight.github.io/assets/models/pio/model.json"],
    "tips": true
});
    </script>
    <script>
      
      function myFunction()
      {
        var sss=document.getElementById("lock").value;
        var a=document.getElementById("114514").innerHTML;
        var ans=document.getElementById("ans").innerHTML;
        var password=document.getElementById("password").innerHTML;
        var hash=CryptoJS.SHA1(sss);
        if(hash!=a)
        {
          if(sss==password)
          {
            document.getElementById("1!5!").innerHTML="Accepted";
            document.getElementById("SB").remove();
            document.getElementById("ans").remove();
            document.getElementById("lock").remove();
            document.getElementById("114514").remove();
            document.getElementById("stdout").innerHTML="这里没有东西";
          }
          else document.getElementById("1!5!").innerHTML="Wrong Answer";
        }
        else
        {
          document.getElementById("1!5!").innerHTML="Accepted";
          document.getElementById("SB").remove();
          document.getElementById("ans").remove();
          document.getElementById("lock").remove();
          document.getElementById("114514").remove();
          var aesKey=CryptoJS.MD5(sss);
          var key = CryptoJS.enc.Utf8.parse(aesKey);
          aseKey=aesKey.toString();
          const option = {
            iv: CryptoJS.enc.Utf8.parse(aesKey.toString().substring(1, 17)),
            mode: CryptoJS.mode.CBC,
            padding: CryptoJS.pad.Pkcs7,
          };
          var decrypt = CryptoJS.AES.decrypt(ans, key, option);
          var decryptData = JSON.parse(decrypt.toString(CryptoJS.enc.Utf8));
          document.getElementById("stdout").innerHTML=decryptData;
        }
      }
  </script>
  
  </body>
</html>
