<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/theme-toggle.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include views/footer.html -%}

    {%- include extensions/ac.html -%}


    <!-- 引用 Live2D 核心组件 -->
    <script src='https://fat-old-eight.github.io/assets/static/l2d.js'></script>
    <!-- 引用看板娘交互组件 -->
    <script src='https://fat-old-eight.github.io/assets/static/pio.js'></script>

    <div class="pio-container left">
      <div class="pio-action"></div>
      <canvas id="pio" width="300" height="300"></canvas>
    </div>
    <script>
      var pio = new Paul_Pio({
    "mode": "draggable",
    "hidden": true,
    "content": {
        "welcome": ["欢迎来到保罗的小宇宙！", "今天天气不错，一起来玩吧！", "博主每天都有些折腾记录，欢迎前往他的小窝阅读~"],
        "custom": [
            {"selector": ".comment-form", "text": "欢迎参与本文评论，别发小广告噢~"},
            {"selector": ".home-social a:last-child", "text": "在这里可以了解博主的日常噢~"},
            {"selector": ".post-link a", "type": "read"}
        ]
    },
    "model": ["https://fat-old-eight.github.io/assets/models/pio/model.json"],
    "tips": true
});
    </script>
  </body>
</html>
